.booking-3 .vector {
  filter: blur(175px);
  position: absolute;
  left: -102px;
  top: -27px;
  width: 385px;
  height: 369px;
}
.booking-3 .vector-1 {
  filter: blur(175px);
  position: absolute;
  top: 66.5px;
  right: -47.3px;
  width: 303px;
  height: 296px;
}
.booking-3 .vector-2 {
  filter: blur(175px);
  position: absolute;
  left: -16px;
  top: 623px;
  width: 296px;
  height: 309px;
}
.booking-3 .vector-3 {
  filter: blur(175px);
  position: absolute;
  left: -63px;
  top: 312px;
  width: 390px;
  height: 307px;
}
.booking-3 .vector-4 {
  filter: blur(175px);
  position: absolute;
  top: 480px;
  right: -118px;
  width: 293px;
  height: 286px;
}
.booking-3 .vector {
  filter: blur(175px);
  position: absolute;
  left: -102px;
  top: -27px;
  width: 385px;
  height: 369px;
}
.booking-3 .vector-1 {
  filter: blur(175px);
  position: absolute;
  top: 66.5px;
  right: -47.3px;
  width: 303px;
  height: 296px;
}
.booking-3 .vector-2 {
  filter: blur(175px);
  position: absolute;
  left: -16px;
  top: 623px;
  width: 296px;
  height: 309px;
}
.booking-3 .vector-3 {
  filter: blur(175px);
  position: absolute;
  left: -63px;
  top: 312px;
  width: 390px;
  height: 307px;
}
.booking-3 .vector-4 {
  filter: blur(175px);
  position: absolute;
  top: 480px;
  right: -118px;
  width: 293px;
  height: 286px;
}
.booking-3 .sign-in-new {
  background: #000000;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.booking-3 .exercuses {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.booking-3 .group-2 {
  margin: 0 0 3.4px 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.booking-3 .group-1 {
  opacity: 0.8;
  margin: 0 64.8px 15.5px 0;
  width: 43.2px;
  height: 24.1px;
}
.booking-3 .rectangle-path {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.booking-3 .climbers {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.booking-3 .group-4 {
  position: relative;
  margin-bottom: 14.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.booking-3 .personalized-workouts-will-help {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.booking-3 .you-gain-strength {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.booking-3 .group-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.booking-3 .container {
  border-radius: 10px;
  background: url('../assets/images/coverLargeP1Dp265Ru8F3Afdaokk71O1Nm851.jpeg') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 28px 0 115.7px 24px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.booking-3 .group {
  border-radius: 10px;
  background: #8C8C8C;
  position: relative;
  margin: 0 30px 29px 31px;
  width: calc(100% - 61px);
  box-sizing: border-box;
}
.booking-3 .line-3 {
  background: rgba(0, 0, 0, 0.16);
  margin-bottom: 14px;
  width: 430px;
  height: 1px;
}
.booking-3 .please-choose-quantity {
  margin: 0 16px 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.booking-3 .select {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 20px;
  color: #B0B0B0;
}
.booking-3 .polygon-1 {
  position: absolute;
  right: 25px;
  bottom: 11px;
  width: 15px;
  height: 12px;
}
.booking-3 .frame-1 {
  border-radius: 5px;
  border: 1px solid #B0B0B0;
  position: relative;
  padding: 3px 11px 5px 11px;
  box-sizing: border-box;
}
.booking-3 .component-2 {
  margin: 0 1px 364px 0;
  box-sizing: border-box;
}
.booking-3 .home-duotone {
  margin-bottom: 4.5px;
  width: 37.5px;
  height: 37.8px;
}
.booking-3 .vector-399 {
  margin: 0 5px 0 4px;
  width: 6px;
  height: 7px;
}
.booking-3 .vector-398 {
  margin-bottom: 1px;
  width: 4px;
  height: 8px;
}
.booking-3 .vector-400 {
  width: 11px;
  height: 9px;
}
.booking-3 .container-2 {
  display: flex;
  flex-direction: row;
  width: 15px;
  box-sizing: border-box;
}
.booking-3 .thumb-up {
  background: #8B8B8B;
  margin-top: 11.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 8px 11px 5px;
  width: 28px;
  height: fit-content;
  box-sizing: border-box;
}
.booking-3 .book-open-alt {
  margin: 13.4px 0 2px 0;
  width: 27px;
  height: 27px;
}
.booking-3 .ellipse-46 {
  border-radius: 4.5px;
  margin: 0 3.4px 3.4px 3.4px;
  width: 9px;
  height: 9px;
}
.booking-3 .rectangle-4160 {
  border-radius: 1.8px;
  width: 15.8px;
  height: 7.9px;
}
.booking-3 .user-alt {
  margin: 11.7px 0 10.4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.8px;
  height: fit-content;
  box-sizing: border-box;
}
.booking-3 .group-3 {
  background: #8B8B8B;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17.6px 0 25px 36.4px;
  width: 100%;
  box-sizing: border-box;
}
.booking-3 .shape {
  position: absolute;
  left: 1px;
  top: 66px;
  width: 427px;
  height: 43px;
}
.booking-3 .cfa-exercuses {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.booking-3 .book-now {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}
.booking-3 .container-1 {
  background: #9747FF;
  position: absolute;
  right: -2px;
  bottom: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 3px 17px 0;
  width: 432px;
  height: 85px;
  box-sizing: border-box;
}
.booking {
  background: #1E1E1E;
  padding-top: 64px;
  box-sizing: border-box;
}
