.finish-1 .thank-you {
  margin: 0 19px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 35px;
  color: #FFFFFF;
}
.finish-1 .ellipse-50 {
  position: relative;
  margin: 0 0.9px 54px 0;
  width: 261.1px;
  height: 256px;
}
.finish-1 .the-reservation-was-successful-you-table-number-is {
  margin-bottom: 82px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.finish-1 .container {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 80px;
  color: #000000;
}
.finish-1 .container {
  border-radius: 10px;
  background: #D9D9D9;
  position: relative;
  margin-bottom: 101px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
  width: 280px;
  box-sizing: border-box;
}
.finish-1 .home-duotone {
  width: 37.5px;
  height: 37.8px;
}
.finish-1 .vector-399 {
  margin: 0 5px 0 4px;
  width: 6px;
  height: 7px;
}
.finish-1 .vector-398 {
  margin-bottom: 1px;
  width: 4px;
  height: 8px;
}
.finish-1 .vector-400 {
  width: 11px;
  height: 9px;
}
.finish-1 .container-1 {
  display: flex;
  flex-direction: row;
  width: 15px;
  box-sizing: border-box;
}
.finish-1 .thumb-up {
  background: #686565;
  margin: 6px 0 0.8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 8px 11px 5px;
  width: 28px;
  height: fit-content;
  box-sizing: border-box;
}
.finish-1 .book-open-alt {
  margin: 8px 0 2.8px 0;
  width: 27px;
  height: 27px;
}
.finish-1 .ellipse-46 {
  border-radius: 4.5px;
  margin: 0 3.4px 3.4px 3.4px;
  width: 9px;
  height: 9px;
}
.finish-1 .rectangle-4160 {
  border-radius: 1.8px;
  width: 15.8px;
  height: 7.9px;
}
.finish-1 .user-alt {
  margin: 6.4px 0 11.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.8px;
  height: fit-content;
  box-sizing: border-box;
}
.finish-1 .group {
  background: #686565;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 0 25.2px 35px;
  width: 100%;
  box-sizing: border-box;
}
.finish-1 .vector-stroke {
  width: 115.1px;
  height: 85.6px;
}
.finish-1 .checkmark {
  position: absolute;
  left: 50%;
  top: 224.7px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 115.1px;
  height: 85.6px;
  box-sizing: border-box;
}
.finish {
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 61px;
  box-sizing: border-box;
}
