.review-4 .portfolio-1439301 {
  border-radius: 10px;
  background: url('../assets/images/portfolio1439301.jpeg') 50% / cover no-repeat;
  width: 370px;
  height: 215px;
}
.review-4 .blur {
  border-radius: 10px;
  position: absolute;
  left: 20px;
  bottom: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 370px;
  height: 215px;
  box-sizing: border-box;
}
.review-4 .group-2 {
  opacity: 0.8;
  position: relative;
  width: 43.2px;
  height: 24.1px;
}
.review-4 .shape {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 427px;
  height: 43px;
}
.review-4 .exercuses {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.review-4 .group-3 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.review-4 .cfa-exercuses {
  position: relative;
  margin-bottom: 228.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 35.4px 63.8px 36.5px 0;
  width: 100%;
  height: 96px;
  box-sizing: border-box;
}
.review-4 .hashtag-2 {
  border-radius: 10px;
  background: url('../assets/images/hashtag2.jpeg') 50% / cover no-repeat;
  position: relative;
  width: 370px;
  height: 234.6px;
}
.review-4 .front-back-up {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 371.5px;
  height: 236.8px;
}
.review-4 .climbers-1 {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.review-4 .group-6 {
  position: absolute;
  left: 28.1px;
  top: 26.6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.review-4 .personalized-workouts-will-help-1 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.review-4 .you-gain-strength-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.review-4 .group-7 {
  position: absolute;
  left: 28.1px;
  top: 61.6px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.review-4 .see-more {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 12px;
  color: #FBF9F9;
}
.review-4 .group-9 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.review-4 .group-8 {
  border-radius: 12px;
  background: #FF9B70;
  position: absolute;
  right: 25.3px;
  bottom: 54.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 6px 19.3px 6.4px 19.3px;
  width: 81.1px;
  box-sizing: border-box;
}
.review-4 .front-hashtag {
  position: relative;
  margin: 0 38.5px 40.2px 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2.2px 1.5px 0 0;
  width: 371.5px;
  height: 236.9px;
  box-sizing: border-box;
}
.review-4 .climbers {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.review-4 .group-1 {
  margin: 0 165.5px 19px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.review-4 .personalized-workouts-will-help {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.review-4 .you-gain-strength {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.review-4 .group {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.review-4 .container-1 {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 39px 0 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 0 116px 0;
  width: calc(100% - 56px);
  box-sizing: border-box;
}
.review-4 .home-duotone {
  margin-bottom: 4.5px;
  width: 37.5px;
  height: 37.8px;
}
.review-4 .vector-399 {
  margin: 0 5px 0 4px;
  width: 6px;
  height: 7px;
}
.review-4 .vector-398 {
  margin-bottom: 1px;
  width: 4px;
  height: 8px;
}
.review-4 .vector-400 {
  width: 11px;
  height: 9px;
}
.review-4 .container-2 {
  display: flex;
  flex-direction: row;
  width: 15px;
  box-sizing: border-box;
}
.review-4 .thumb-up {
  background: #686565;
  margin-top: 11.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 8px 11px 5px;
  width: 28px;
  height: fit-content;
  box-sizing: border-box;
}
.review-4 .book-open-alt {
  margin: 13.4px 0 2px 0;
  width: 27px;
  height: 27px;
}
.review-4 .ellipse-46 {
  border-radius: 4.5px;
  margin: 0 3.4px 3.4px 3.4px;
  width: 9px;
  height: 9px;
}
.review-4 .rectangle-4160 {
  border-radius: 1.8px;
  width: 15.8px;
  height: 7.9px;
}
.review-4 .user-alt {
  margin: 11.7px 0 10.4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.8px;
  height: fit-content;
  box-sizing: border-box;
}
.review-4 .group-4 {
  background: #686565;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17.6px 0 25px 36.4px;
  box-sizing: border-box;
}
.review-4 .rectangle-path-2 {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.review-4 .climbers-2 {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.review-4 .group-10 {
  position: relative;
  margin-bottom: 14.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.review-4 .personalized-workouts-will-help-2 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.review-4 .you-gain-strength-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.review-4 .group-11 {
  position: relative;
  margin-bottom: 38.7px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.review-4 .see-more-1 {
  overflow-wrap: break-word;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 12px;
  color: #FBF9F9;
}
.review-4 .group-13 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.review-4 .group-12 {
  border-radius: 12px;
  background: #FF9B70;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 6.2px 17.9px 9.7px 17.9px;
  width: fit-content;
  box-sizing: border-box;
}
.review-4 .container {
  border-radius: 10px;
  background: url('../assets/images/coverLargeP1Dp265Ru8F3Afdaokk71O1Nm851.jpeg') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 19.6px 49.1px 31px;
  height: fit-content;
  flex-grow: 1;
  box-sizing: border-box;
}
.review-4 .group-5 {
  border-radius: 10px;
  background: #8C8C8C;
  position: absolute;
  left: 20px;
  top: 151px;
  right: 41px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.review {
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  padding: 77px 2px 21px 1px;
  box-sizing: border-box;
}
